# Middlewares pour l'authentification
http:
  middlewares:

    # Middleware pour les headers de proxy MeTube
    metube-proxy-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Host: "metube.iahome.fr"
          X-Forwarded-For: "127.0.0.1"
          X-Real-IP: "127.0.0.1"
        customResponseHeaders:
          X-Forwarded-Proto: "https"

    # Middleware pour les headers de proxy PDF
    pdf-proxy-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Host: "pdf.iahome.fr"
          X-Forwarded-For: "127.0.0.1"
          X-Real-IP: "127.0.0.1"
        customResponseHeaders:
          X-Forwarded-Proto: "https"

    # Middleware pour les headers de proxy QR Codes
    qrcodes-proxy-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Host: "qrcodes.iahome.fr"
          X-Forwarded-For: "127.0.0.1"
          X-Real-IP: "127.0.0.1"
        customResponseHeaders:
          X-Forwarded-Proto: "https"

    # Middleware pour les headers de proxy LibreSpeed
    librespeed-proxy-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Host: "librespeed.iahome.fr"
          X-Forwarded-For: "127.0.0.1"
          X-Real-IP: "127.0.0.1"
        customResponseHeaders:
          X-Forwarded-Proto: "https"

